button{
  padding:8px 20px;
  border:0 solid #000;
  border-radius:4px;
  outline:none;
  letter-spacing:2px;
  background-color:#409eff;
  color:#fff;
  cursor:pointer;
  user-select:none;
  font-size: 14px;
  margin-left:20px;
}
button:hover{
  filter:brightness(110%);
}
button:active{
  filter:brightness(80%);
}
input{
  appearance: none;
  background-color: #fff;
  background-image: none;
  border-radius: 4px;
  border: 1px solid #dcdfe6;
  box-sizing: border-box;
  color: #606266;
  display: inline-block;
  font-size: inherit;
  height: 35px;
  line-height: 35px;
  outline: none;
  padding: 0 15px;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.15);
  transition: border-color .2s cubic-bezier(.645,.045,.355,1);
}
input:focus {
  outline: none;
  border-color: #409eff;
}
.header,ul,.text{
  margin: 50px;
}
.fade-enter,.fade-appear{
  opacity: 0;
}
.fade-enter-active,.fade-appear-active{
  opacity: 1;
  transition: all 1s ease-in;
}
.fade-enter-done{
  opacity: 1;
}
.fade-exit{
  opacity: 1;
}
.fade-exit-active{
  opacity: 0;
  transition: all 1s ease-in;
}
.fade-exit-done{
  opacity: 0;
}
.save{
  margin: 10px 50px;
}
.show{
  color: #409eff;
  opacity: 1;
  animation: show-state 1s ease-in infinite;
  margin: 10px 50px;
  transition: all 1s ease-in;
}
.hide{
  color: #409eff;
  transition: all 1s ease-in;
  opacity: 0;
  margin: 10px 50px;
}
@keyframes show-state {
  0%{
    color: fuchsia;
  }
  25%{
    color: greenyellow;
  }
  75%{
    color: hotpink;
  }
  100%{
    color: #409eff;
  }
}
li{
  max-width: 1200px;
  height: auto;
  word-wrap:break-word;
  line-height: 24px;
  box-shadow: 0 2px 12px 0 rgba(0,0,0,.4);
  border-radius: 4px;
  border: 1px solid #409eff;
  background-color: #409eff;
  color: #fff;
  cursor: pointer;
  overflow: hidden;
  padding:10px;
  margin: 20px 0;
}
.ani{
  animation: move .5s;
}
@keyframes move {
  0%{
   opacity: 0;
   transform: translateX(-1000px);
  }
  100%{
    opacity: 1;
    transform:translateX(0px);
  }
}
li:hover{
  box-shadow: 0 2px 12px 0 rgba(0,0,0,.2);
}
.item-name{
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 5px;
}
.status{

}